#navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .image img {
        height: 4rem;

        @include md {
            height: 6rem;
        }
    }

    .menu {
        flex: 2;
        display: flex;
        justify-content: flex-end;

        a {
            color: #363636;
            font-family: $font-secondary;
            text-decoration: none;
        }

        ul {
            display: none;
            list-style: none;

            @include md {
                display: flex;
            }

            li {
                margin-left: 1.3rem;                
            }
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;

        .button {
            background-color: $blue;
            color: $white;
            padding: 1rem;
            border-radius: 0.5rem;
            border:  transparent;
            cursor: pointer;

            &:hover, dropbtn:focus {
                background-color: #5ca4ca;
            }

            @include md {
                display: none;
            }
       
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            a {
                color:#363636;
                padding: 12px 16px;
                text-decoration: none;
                display: block; 

                &:hover {
                    background-color: #ddd;
                }
            }
        }
        .show {
            display: block;
        }
    }
}