#numbers {
    background-color: $white;

    .container {
        padding-top: 2rem;

        .numbers-information {
            text-align: center;

            h1 {
                color: $darkgray;
                font-size: 2rem;
                font-weight: bolder;

                @include md {
                    margin-left: 5rem;
                    margin-right: 5rem;
                }

                @include lg {
                    margin-left: 20rem;
                    margin-right: 20rem;
                    font-size: 3rem;
                }
            }

            p {
                color: $lightgray;
                font-family: $font-secondary;
                font-size: 1.2rem;

                @include lg {
                    font-size: 1.125rem;
                    padding: 0 20rem;
                }
            }
        }

        .data-numbers {
            background-color: $white;
            padding-bottom: 1rem;

            @include md {
                height: 15rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-image: url(../../backgrounds/numbers/Map.svg);
                background-repeat: no-repeat;
                background-position: center 20px;
                background-size: 80%;

                @include lg {
                    background-size: 60%;
                    background-position: 250px 0px;
                }
            }

            @include lg {
                padding: 0 10rem;
            }

            .box {
                text-align: center;

                h1 {
                    color: $pink;
                    font-size: 2rem;
                    margin: 0;

                    @include lg {
                        font-size: 2.625rem;
                    }
                }

                p {
                    color: $lightgray;
                    margin: 0;
                    font-family: $font-secondary;

                    @include lg {
                        font-size: 1.125rem;
                    }
                    
                }
            }
        }
        #contact-us {
            padding-top: 1rem;
            padding-bottom: 1rem;
            box-shadow: 3px 5px 12px #cac8c8;
            border-radius: 5px;
            text-align: center;


            @include md{
                margin-bottom: 5rem;
                margin-left: 8rem;
                margin-right: 8rem;
                display: flex;
                text-align: left;
            }

            @include lg {
                margin-left: 20rem;
                margin-right: 20rem;
                padding: 0rem 2rem;

            }


            .contact-us-information {
                padding: 1rem;
    
                h1 {
                    color: $darkgray;
                    font-size: 1.3rem;
                }
    
                p {
                    color: $lightgray;
                    font-size: 1.2rem;
                }
            }
    
            button {
                background: linear-gradient(to right, #F23779, #FF6803, #FFA62E);
                color: $white;
                font-family: $font-secondary;
                border: none;
                border-radius: 5px;
                height: 2rem;
                width: 15rem;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-right: 1rem;

                @include md {
                    height: 3rem;
                    width: 12rem;
                }
            }
        }
    }

}





