@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
    
}

html,body {
    font-weight: 400;   
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.border{
    border: 1px solid #cccccc;
}

/* navbar-top */

.navbar-top {
    display:none;
    padding: 1rem 0;
}


.navbar-top .border {
    opacity: 60%;
    border-bottom: 1px solid #707070 ;
}

.navbar-top .container{
    padding: 0;
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.working-hours {
    display: flex;
    align-items: center;
}

.working-hours i {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    color: #2baaec;
}

.working-hours p {
    margin: 0;
    font-size: 1.05rem;
    color: #626262;
}

.social-icons{
    display: flex;
    list-style: none;
    margin: 0;
}

.social-icons li {
    margin-left: 1.2rem
}

.navbar-top a {
    color: #2baaec;
    font-size: 1rem;
}

.navbar-top a:hover{
    color: #25E6C8;
}

/*navbar main  */

.navbar-main  {
    padding: 1rem 0;   
}

.navbar-main .container {
    padding: 0; 
    height: 9rem;     
   
}

.logo {
    align-items: center;
}

.main-menu-links{
    display: flex;
    list-style: none;
    align-items: center;
}


.main-menu-links a {
    text-decoration-line: none;  
    font-family: 'Roboto Slab', serif;
    color: #363636;
    font-size: 1.1rem;
    margin-left: 2rem;
}

/* Showcase */

.showcase {
    padding-top:  1rem;  
    padding-bottom: 0rem;
    background-color: #DEDEDE;
}

.showcase .container {    
    height: 42rem;  
}

.showcase-header {
    font-size: 3.5rem;
    font-family: 'Roboto Slab', serif;
    margin-top: 9rem;   
    color:#363636;
    
}

.showcase-info {    
    font-family: 'Roboto', sans-serif;   
    font-size: 18px;
    color: #626262;
    margin-top: 1.8rem;
}

.showcase-box {    
    border-radius: 10px;
    background: #25E6C8;
    width: 240px;
    height: 60px;  
    margin-top: 2rem;
}

.showcase-box:hover{    
    background: #2BAAEC;
}

.showcase-box span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
}



/* About us */

.about-us {
    padding-top: 1rem; 
    padding-bottom: 0rem;
}

.about-us .container {    
    height: 50rem;  
}

.about-us-header {
    margin-top: 7rem;
    margin-bottom: 0rem;
    width: 30rem;
    height: 5rem;
    font-size: 2.5rem;
    color: #363636;
    font-family: 'Roboto Slab', serif;    
}

.about-us-header i {
    font-style: normal;
    color: #2BAAEC;
}

.about-us-line {
    width: 705px;
    height: 4px;      
}

.about-us-information {    
    width: 44rem;
    height: 13rem;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; 
    color: #626262;
}

.about-us-numbers {
    width: 42rem;
    height: 10rem;
    margin-top: 3rem;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-between;    
}

.about-us-numbers li  {
    font-size: 40px;
    color: #2BAAEC;  
    list-style: none;    
}

.about-us-numbers p  {
    font-size: 16px;
    color: #363636;   
    margin-top: 0rem;
}

/* .about-us-logo {

} */

/* Services */

.services {
    height: 1349px;
    background-color: #F7F7F7;
}

/* .services .container {
    
} */


/* Appointment */

.appointment{
    height: 13em;
    opacity: 80%;
    background-color: #2BAAEC;   
}

.appointment-text p {
    margin-top: 5rem;
    text-align: center;
    opacity: 100%;
    font-size: 30px;    
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;    
}

.appointment-box {
    border-radius: 10px;
    border-color: transparent;
    background: #FFFFFF;
    width: 285px;
    height: 60px;  
    margin-top: 5rem;
    
}

.appointment-box:hover {
    background-color: #2BAAEC; 
    border: 2px solid white;
}


.appointment-box-text{
    color: #2BAAEC;
    opacity: 100%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
}

.appointment-box :hover{
    color: white;
    font-size: 18px;
}


/* Footer */

.bottom {
    display: none;
    padding-top:  0rem;  
    padding-bottom: 0rem;
    height: 5rem;
    background-color: #2BAAEC; 
}


.bottom-information{
    font-size: 16px;
    text-align: center;    
    color: #FFFFFF;
    padding-top: 30px;   
    opacity: 60%; 
}

/* Media queries */

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    .navbar-top{
        display: block;      
    }
    .bottom{
        display: block;
    }

}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .container {
        max-width: 1320px;        
    }
}

@media (min-width: 1920px){
    .container {
        max-width: 1410px;
    }
}